body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #121212; /* Cor de fundo escura */
  color: #fff; /* Cor do texto branca */
}

.box {
  max-width: 300px;
  padding: 20px;
  border: 2px solid #444; /* Cor da borda */
  border-radius: 10px;
  background-color: #333; /* Cor de fundo da caixa */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-display {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #666; /* Cor da borda */
  background-color: #222; /* Cor de fundo do campo de senha */
}

.options-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.option-row {
  margin-bottom: 10px;
}

input[type="number"] {
  width: 50px;
  background-color: #444; /* Cor de fundo do campo de entrada de número */
  color: #fff; /* Cor do texto branco */
}

input[type="checkbox"] {
  margin-right: 5px;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button-row button {
  margin: 0 5px;
  padding: 8px 12px;
  background-color: #555; /* Cor de fundo do botão */
  border: none;
  border-radius: 5px;
  color: #fff; /* Cor do texto branco */
}

.button-row button:hover {
  background-color: #666; /* Cor de fundo do botão quando o mouse passa por cima */
}
